@namespace=CodeChirp.Core
@namespace=CodeChirp.Controllers
@type=Channel
@content=Header
  %h2 Delete Channel
@content=Main
  %p This will permamentally delete your channel
  %p Are you sure?
  - using (Html.BeginForm("DeleteConfirmed","Channels",new { Id = ViewData.Model.Id }))
    = Html.AntiForgeryToken()
    %input( type="submit" value="Yes" )
    %input( type="button" name="No" value="No" onclick="javascript:history.go(-1);")
