@namespace=CodeChirp.Core
@namespace=Shaml.Web.HtmlHelpers
@type=IList<Post>
@content=Header
  %h2
    Channel page
@content=Main
  %ul.postlist
    %li.post
      .tags
        - var c = ViewData["channel"] as Channel
        Channel name: 
        %a( href='#{Url.Action("Show", "Channels", new { id = c.Id \})}' )
          %kbd
            = c.name
            (by #{c.owner.Comment})
  %h2 Users in the channel
  %ul.postlist
    - foreach(Soul s in ((Channel)ViewData["channel"]).users)  
      %li.post
        _ MiniSoul( model="s" )
  %h2 Posts in the channel
  %ul.postlist
    - foreach (Post p in Model)
      %li.post
        _ MiniPost( model="p" )
  %div= Html.ActionLink("Next page","Show",new { page = ViewData["page"] })
@content=MoreBlocks
  _ UserMatrix( model="Model" )
