@namespace=CodeChirp.Core
@namespace=CodeChirp.Controllers
@type=Soul
%div
  %h2 Delete Soul
  %p Are you sure?
  - using (Html.BeginForm("DeleteConfirmed","Souls",new { Id = ViewData.Model.Id }))
    = Html.AntiForgeryToken()
    %input( type="submit" value="Yes" )
    %input( type="button" name="No" value="No" onclick="javascript:history.go(-1);")
