@namespace=CodeChirp.Core
@namespace=CodeChirp.Controllers
@namespace=Shaml.Web.HtmlHelpers
@type=List<Soul>
@content=Header
  %h2
    List of users
@content=Main
  %ul.postlist
    - foreach (Soul s in Model)
      %li.post
        _ MiniSoul( model="s" )
  %div= Html.RenderPagination(ViewData["Pagination"] as PaginationData)
@content=MoreBlocks
  .block
    .blockTop
    .blockMain
      - using(Html.BeginForm("Index","Souls",FormMethod.Get))
        %p Search for users:
          = Html.TextBox("q",ViewContext.HttpContext.Request.Params.Get("q"))  
      