@namespace=CodeChirp.Core
@namespace=Shaml.Web.HtmlHelpers
@type=IList<Post>
@content=Header
  %h2
    User page
@content=Main
  %ul.postlist
    %li.post
      _ MiniSoul( model='ViewData["soul"]' )
  %h2 Posts for user
  %ul.postlist
    - foreach (Post p in Model)
      %li.post
        _ MiniPost( model="p" )
  %div= Html.ActionLink("Next page","Show",new { page = ViewData["page"] })
@content=MoreBlocks
  - if (ViewData["userchannels"] != null)
    - ViewData["data"] = ((Soul)ViewData["soul"]).Id;
    _ UserChannels( model='ViewData["userchannels"]' )
  _ UserMatrix( model="Model" )
