@namespace=CodeChirp.Core
@namespace=CodeChirp.Controllers
@type=Badge
%div
  %h2 Delete Badge
  %p Are you sure?
  - using (Html.BeginForm("DeleteConfirmed","Badges",new { Id = ViewData.Model.Id }))
    = Html.AntiForgeryToken()
    %input( type="submit" value="Yes" )
    %input( type="button" name="No" value="No" onclick="javascript:history.go(-1);")
