Powered by these powerful logos:
%ul.footer
  %li.footer
    %a( href="http://go-mono.com" )
      %img( src="/Public/Content/Images/mono_logo.png" )
  %li.footer
    %a( href="http://shaml.sztupy.hu" )
      %img( src="/Public/Content/Images/shaml_logo.png" )
    %br/
    %a( href="http://cancellar.hu" )
      %img( src="/Public/Content/Images/cancellar_logo.png" )      
  %li.footer
    %a( href="http://www.ubuntu.com" )
      %img( src="/Public/Content/Images/ubuntu_logo.png" )
