@import "blueprint";
@import "blueprint/scaffolding";
@import "blueprint/typography";
@import "compass/reset";
@import "compass/layout";
@import "compass/utilities";

@include blueprint-typography;

$bgcolor: #8ecc87;
$sidecolor: #b2f1ab;
$maincolor: white;
$tableheader: #acedac;

body {
  background-color: $bgcolor;
  background-image: url("Images/topgrad.png");
  background-position: top;
  background-repeat: repeat-x; }

#mainContent {
  @include container;
  margin-left: 0; }

#topContainer {
  @include column(24, true);
  padding-bottom: 60px;
  padding-top: 0px;
  h1 {
    @include replace-text("codechirp_top.png");
    margin: 0;
    padding: 0;
    height: 130px;
    width: 500px;
    position:absolute;
    top:0px;
    left:0px; }
  h2 {
    @include replace-text("codechirp_bottom.png");
    margin: 0;
    padding: 0;
    height: 111px;
    width: 143px;
    position:absolute;
    top:130px;
    left:0px; } }

#columnsContainer {
  @include prepend(2);
  @include column(22, true); }

#leftColumn {
  @include column(16);
  background:url("Images/whiteborder.png") bottom left no-repeat; 
  padding: 0px;
  #leftTop {
    background:url("Images/whiteborder.png") top left no-repeat; 
    height: 7px;
  }
  #leftMain {
    h2 {
      text-align:right;
    }
    width: 610px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: $maincolor; } }

#rightColumn {
  @include column(6, true); 
  .block {
    background:url("Images/greenborder.png") bottom left no-repeat;
    padding: 0px;
    padding-bottom: 10px;
    margin-bottom: 2em;
    .blockTop { 
      background:url("Images/greenborder.png") top left no-repeat; 
      height: 10px; }
    .blockMain { 
      width: 210px;
      margin-bottom: 10px;
      padding: 10px;
      background-color: $sidecolor; } } }

#footer {
  height: 75px;
  width: 960px;
  text-align: center;
}

.field-validation-error {
  color: red; }

li.footer {
  float: left;
  width: 250px;
  height: 75px;
  list-style-type: none;
  li {
    list-style-type: none; } }

a {
  text-decoration: none;
  color: #0033FF;
}

a:visited {
  text-decoration: none;
  color: #0066FF;  
}

a:hover {
  text-decoration: none;
  color: black;
}

// Postlist

ul.postlist {
  margin: 0;
  padding: 0;
}

li.post {
  clear:both;
  list-style-type: none;
  padding-left: 48px;
  img.gravatar {
    position: absolute;
    margin-left: -36px;
    z-index: 4;
  }
  img.siteicon {
    position: absolute;
    margin-left: -52px;
    z-index: 5;
    // margin-top: 34px;
  }
  div.tags {
    kbd {
      border: 1px solid black;
      background-color: #eeeeee;
      padding: 2px;
      color: black;
      margin: 0 2px;
    }
  }
  pre {
    background-color: #ddd;
    width: 500px;
    max-height: 30em;
    overflow:auto;
  }
  padding-top: 0.5em;
  border-bottom: 1px dashed black;
}

ul.mainmenu {
  margin-left: auto;
  text-align: center;
  border-bottom: 1px solid black;
  li {
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    color: black;
    margin: 0 2px;
    float: right;
    width: 75px;
    height: 1.5em;
    list-style-type: none;
  }
}

// OPENID selector stylesheets

#openid_form {
  width: 490px;
  legend {
    font-weight: bold; } }

#openid_input_area {
  clear: both;
  padding: 10px; }

#openid_btns {
  clear: both;
  br {
    clear: both; } }

#openid_highlight {
  padding: 3px;
  background-color: #fffcc9;
  float: left; }

.openid_large_btn {
  width: 100px;
  height: 60px;
  border: 1px solid #dddddd;
  margin: 3px;
  float: left;
  a:focus {
    outline: none;
    -moz-outline-style: none; } }

.openid_small_btn {
  width: 24px;
  height: 24px;
  border: 1px solid #dddddd;
  margin: 3px;
  float: left; }

.openid_selected {
  border: 4px solid #dddddd; }

