@namespace=CodeChirp.Core
@type=IList<Post>
@content=Header
  %h2
    Latest activity
@content=Main
  %ul.postlist
    - foreach (Post p in Model)
      %li.post
        _ MiniPost( model="p" )
  %div= Html.ActionLink("Next page","Index",new { page = ViewData["page"] })
@content=MoreBlocks
  _ UserMatrix( model="Model" )
