@namespace=CodeChirp.Core
@namespace=Shaml.Web.HtmlHelpers
@type=IList<Post>
@content=Header
  %h2
    Tag page
@content=Main
  %ul.postlist
    %li.post
      .tags
        - var t = ViewData["tag"] as Tag
        Tag name: 
        %a( href='#{Url.Action("Show", "Tags", new { id = t.Id \})}' )
          %kbd
            %img( src="#{t.site.GetIcon()}" )/
            = t.name
  %h2 Posts for tag
  %ul.postlist
    - foreach (Post p in Model)
      %li.post
        _ MiniPost( model="p" )
  %div= Html.ActionLink("Next page","Show",new { page = ViewData["page"] })
@content=MoreBlocks
  _ UserMatrix( model="Model" )
