/* line 14, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 39, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%;
}

/* line 65, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222;
}
/* line 66, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 67, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 68, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 70, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 71, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 72, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 74, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 77, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 21, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 78, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 79, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 80, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 81, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 82, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 83, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 84, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 85, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 86, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 87, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 88, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 91, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 92, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 93, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 94, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 95, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 96, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 97, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 98, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 99, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 100, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 101, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 102, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #666666;
}

/* line 103, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #111111;
}

/* line 15, ../../App/Stylesheets/screen.scss */
body {
  background-color: #8ecc87;
  background-image: url("Images/topgrad.png");
  background-position: top;
  background-repeat: repeat-x;
}

/* line 21, ../../App/Stylesheets/screen.scss */
#mainContent {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
  margin-left: 0;
}
/* line 8, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/general/./_hacks.scss */
#mainContent {
  display: block;
}

/* line 25, ../../App/Stylesheets/screen.scss */
#topContainer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  padding-bottom: 60px;
  padding-top: 0px;
}
/* line 138, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html #topContainer {
  overflow-x: hidden;
}
/* line 29, ../../App/Stylesheets/screen.scss */
#topContainer h1 {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/Public/Content/Images/codechirp_top.png?1275590703');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
  height: 130px;
  width: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 38, ../../App/Stylesheets/screen.scss */
#topContainer h2 {
  text-indent: -9999em;
  overflow: hidden;
  text-align: left;
  background-image: url('/Public/Content/Images/codechirp_bottom.png?1275590703');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0;
  padding: 0;
  height: 111px;
  width: 143px;
  position: absolute;
  top: 130px;
  left: 0px;
}

/* line 48, ../../App/Stylesheets/screen.scss */
#columnsContainer {
  padding-left: 80px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
}
/* line 138, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html #columnsContainer {
  overflow-x: hidden;
}

/* line 52, ../../App/Stylesheets/screen.scss */
#leftColumn {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 630px;
  background: url("Images/whiteborder.png") bottom left no-repeat;
  padding: 0px;
}
/* line 138, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html #leftColumn {
  overflow-x: hidden;
}
/* line 56, ../../App/Stylesheets/screen.scss */
#leftColumn #leftTop {
  background: url("Images/whiteborder.png") top left no-repeat;
  height: 7px;
}
/* line 60, ../../App/Stylesheets/screen.scss */
#leftColumn #leftMain {
  width: 610px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
}
/* line 61, ../../App/Stylesheets/screen.scss */
#leftColumn #leftMain h2 {
  text-align: right;
}

/* line 69, ../../App/Stylesheets/screen.scss */
#rightColumn {
  display: inline;
  float: left;
  margin-right: 0;
  width: 230px;
}
/* line 138, C:/stuff/Ruby/lib/ruby/gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/./_grid.scss */
* html #rightColumn {
  overflow-x: hidden;
}
/* line 71, ../../App/Stylesheets/screen.scss */
#rightColumn .block {
  background: url("Images/greenborder.png") bottom left no-repeat;
  padding: 0px;
  padding-bottom: 10px;
  margin-bottom: 2em;
}
/* line 76, ../../App/Stylesheets/screen.scss */
#rightColumn .block .blockTop {
  background: url("Images/greenborder.png") top left no-repeat;
  height: 10px;
}
/* line 79, ../../App/Stylesheets/screen.scss */
#rightColumn .block .blockMain {
  width: 210px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #b2f1ab;
}

/* line 85, ../../App/Stylesheets/screen.scss */
#footer {
  height: 75px;
  width: 960px;
  text-align: center;
}

/* line 91, ../../App/Stylesheets/screen.scss */
.field-validation-error {
  color: red;
}

/* line 94, ../../App/Stylesheets/screen.scss */
li.footer {
  float: left;
  width: 250px;
  height: 75px;
  list-style-type: none;
}
/* line 99, ../../App/Stylesheets/screen.scss */
li.footer li {
  list-style-type: none;
}

/* line 102, ../../App/Stylesheets/screen.scss */
a {
  text-decoration: none;
  color: #0033FF;
}

/* line 107, ../../App/Stylesheets/screen.scss */
a:visited {
  text-decoration: none;
  color: #0066FF;
}

/* line 112, ../../App/Stylesheets/screen.scss */
a:hover {
  text-decoration: none;
  color: black;
}

/* line 119, ../../App/Stylesheets/screen.scss */
ul.postlist {
  margin: 0;
  padding: 0;
}

/* line 124, ../../App/Stylesheets/screen.scss */
li.post {
  clear: both;
  list-style-type: none;
  padding-left: 48px;
  padding-top: 0.5em;
  border-bottom: 1px dashed black;
}
/* line 128, ../../App/Stylesheets/screen.scss */
li.post img.gravatar {
  position: absolute;
  margin-left: -36px;
  z-index: 4;
}
/* line 133, ../../App/Stylesheets/screen.scss */
li.post img.siteicon {
  position: absolute;
  margin-left: -52px;
  z-index: 5;
}
/* line 140, ../../App/Stylesheets/screen.scss */
li.post div.tags kbd {
  border: 1px solid black;
  background-color: #eeeeee;
  padding: 2px;
  color: black;
  margin: 0 2px;
}
/* line 148, ../../App/Stylesheets/screen.scss */
li.post pre {
  background-color: #ddd;
  width: 500px;
  max-height: 30em;
  overflow: auto;
}

/* line 158, ../../App/Stylesheets/screen.scss */
ul.mainmenu {
  margin-left: auto;
  text-align: center;
  border-bottom: 1px solid black;
}
/* line 162, ../../App/Stylesheets/screen.scss */
ul.mainmenu li {
  text-align: center;
  border: 1px solid black;
  padding: 2px;
  color: black;
  margin: 0 2px;
  float: right;
  width: 75px;
  height: 1.5em;
  list-style-type: none;
}

/* line 177, ../../App/Stylesheets/screen.scss */
#openid_form {
  width: 490px;
}
/* line 179, ../../App/Stylesheets/screen.scss */
#openid_form legend {
  font-weight: bold;
}

/* line 182, ../../App/Stylesheets/screen.scss */
#openid_input_area {
  clear: both;
  padding: 10px;
}

/* line 186, ../../App/Stylesheets/screen.scss */
#openid_btns {
  clear: both;
}
/* line 188, ../../App/Stylesheets/screen.scss */
#openid_btns br {
  clear: both;
}

/* line 191, ../../App/Stylesheets/screen.scss */
#openid_highlight {
  padding: 3px;
  background-color: #fffcc9;
  float: left;
}

/* line 196, ../../App/Stylesheets/screen.scss */
.openid_large_btn {
  width: 100px;
  height: 60px;
  border: 1px solid #dddddd;
  margin: 3px;
  float: left;
}
/* line 202, ../../App/Stylesheets/screen.scss */
.openid_large_btn a:focus {
  outline: none;
  -moz-outline-style: none;
}

/* line 206, ../../App/Stylesheets/screen.scss */
.openid_small_btn {
  width: 24px;
  height: 24px;
  border: 1px solid #dddddd;
  margin: 3px;
  float: left;
}

/* line 213, ../../App/Stylesheets/screen.scss */
.openid_selected {
  border: 4px solid #dddddd;
}
