@namespace=CodeChirp.Core
@namespace=Shaml.Web.HtmlHelpers
@type=IList<Post>
@content=Header
  %h2
    Latest activity
@content=Main
  %ul.postlist
    - foreach (Post p in Model)
      %li.post
        _ MiniPost( model="p" )
  %div= Html.RenderPagination(ViewData["Pagination"] as PaginationData)
@content=MoreBlocks
  _ UserMatrix( model="Model" )
